apiVersion: 1
groups:
  - orgId: 1
    name: transactions-every-minute
    folder: Transaction Monitoring
    interval: 1m
    rules:
      - uid: afa09dnllj01se
        title: Anomaly Alert
        condition: C
        data:
          - refId: A
            relativeTimeRange:
              from: 600
              to: 0
            datasourceUid: postgres
            model:
              dataset: case_study
              editorMode: code
              format: table
              intervalMs: 1000
              maxDataPoints: 43200
              rawQuery: true
              rawSql: |
                SELECT
                  ts AS time,
                  CASE
                    WHEN denied_above_normal
                      OR failed_above_normal
                      OR reversed_above_normal
                    THEN 1
                    ELSE 0
                  END AS should_alert
                FROM public.v_tx_anomaly
                WHERE $__timeFilter(ts)
                ORDER BY 1;
              refId: A
              sql:
                columns:
                  - parameters: []
                    type: function
                groupBy:
                  - property:
                      type: string
                    type: groupBy
                limit: 50

          - refId: B
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params: []
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - B
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: A
              intervalMs: 1000
              maxDataPoints: 43200
              reducer: last
              refId: B
              type: reduce

          - refId: C
            datasourceUid: __expr__
            model:
              conditions:
                - evaluator:
                    params:
                      - 0
                    type: gt
                  operator:
                    type: and
                  query:
                    params:
                      - C
                  reducer:
                    params: []
                    type: last
                  type: query
              datasource:
                type: __expr__
                uid: __expr__
              expression: B
              intervalMs: 1000
              maxDataPoints: 43200
              refId: C
              type: threshold

        noDataState: NoData
        execErrState: Error
        for: 1m
        isPaused: false
        notification_settings:
          receiver: Postgres Webhook
